<template>
  <div class="about">
    <h1 class="text">
      <span @click="changePrefix">{{prefix}}</span>
      <span @click="changeName">{{titre}}</span>
    </h1>
    <button @click="changeVisible">Click me</button>
    <p v-if="isShow">On me voit</p>
    <p v-else>On ne me voit pas</p>

    <h2>Ma liste d'amis</h2>
    <input type="text" v-model="nomAmi" />
    <p>{{nomAmi}}</p>
    <p>Nombre d'amis = {{nombreAmi}}</p>
    <div v-if="nombreAmi > 0">
      <div v-for="(friend,index) of friends" :key="index" class="ami">
        <h6>Mon ami</h6>
        <p>{{friend.name}} - {{index}}</p>
      </div>
    </div>
    <div v-else>C'est la bagarre</div>
    <button @click="Potos">Add a friend</button>
    <button @click="Bagarre">Retirer un ami</button>
  </div>
</template>

<script lang="ts">
// import Vue from 'vue';
import {Component, Vue} from 'vue-property-decorator';
import Axios from 'axios';

class Person {
  public estMajeur: boolean = true;
  constructor(public name: string) {}
}

let jean = new Person('jean');
jean.estMajeur = false;

class PersonneAChapeau extends Person {
  nomChapeau: string;
  constructor(nomPersonne: string, vraiNomChapeau: string) {
    super(nomPersonne);
    this.nomChapeau = vraiNomChapeau;
  }
}
new PersonneAChapeau('jean-chaque', 'casquette');

// Héritage
class Animal {
  pattes: number;
  cri(bruit: string) {
    console.log('AHHHHHHHHH ' + bruit);
  }
  getCri(bruit: string) : string {
    return "AAAAHHHHHH " + bruit
  }
  constructor(pattes: number) {
    this.pattes = pattes;
  }
}

class Chien extends Animal {
  constructor() {
    super(4);
  }

  aboie() {
    this.cri('wouaf');
  }
}

class MillePatte extends Animal {
  constructor() {
    super(1000);
  }
}

let animals: Animal[] = [new Chien(), new MillePatte()];
animals.forEach(animal => {
  console.log("j'ai " + animal.pattes + ' pattes');
});

animals.forEach(animal => {
  console.log("le cri : " + animal.getCri("ouaf"))
});



@Component({
  name: 'About',
})
export default class About extends Vue {
  private titre: string = 'This is an about page';
  private prefix: string = '#';
  private isShow: boolean = false;
  private nomAmi: string = ''
  // private friends: Person[] =[new Person('Ami 1'), new Person('Ami 2')]
  private friends: Person[] = [];
  mounted() {
    // requete serveur pour avoir amis
    Axios.get<Person[]>('http://monserveur/friends')
      .then(response => {
        this.friends = response.data;
      })
      .catch(err => {
        console.log('erreur de requete', err);
      });
    // this.friends = [new Person('ami 1')]
  }

  get nombreAmi(): number {
    return this.friends.length;
  }
  

  changeName() {
    if (this.titre == "This is an about page"){
      this.titre = "nouveau titre"
    } else
    this.titre = 'This is an about page';
  }

  extendTitre() {
    return this.prefix + ' ' + this.titre;
  }

  changePrefix() {
    if (this.prefix == ';') {
      this.prefix = '#';
    } else {
      this.prefix = ';';
    }
  }

  changeVisible() {
    this.isShow = !this.isShow;
  }
  Potos() {
    this.friends.push(new Person(this.nomAmi));
  }
  Bagarre() {
    this.friends.pop();
  }
}
</script>


<style scoped>
.text {
  color: red;
}

.ami {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 1rem;
  width: max-content;
  margin: 1rem auto;
}
</style>