<template>
  <div class="todo">
    <h1>Choses à faire</h1>
    <v-text-field type="text" v-model="aFaire" /><br />
    <v-btn @click="ajout">A faire</v-btn>

    <h2>Mes tâches</h2>
    <div v-for="(tache, index) of taches" :key="index">
      <p @click="supprimer(index)">{{ tache }}</p>
    </div>
  </div>
</template>

<script lang="ts">
// import Vue from 'vue';
import {Component, Vue} from 'vue-property-decorator';

@Component({
  name: 'ToDo',
})
export default class Todo extends Vue {
  private aFaire: string = '';
  private taches: string[] = [];

  ajout() {
    this.taches.push(this.aFaire);
  }

  supprimer(index: number) {
    console.log("On m'a cliqué dessus", index);
    this.taches.splice(index);
    this.taches = this.taches.filter((tache, indexTache) => index != indexTache);
  }
}
</script>


<style scoped>
</style>
